[Unit]
Description=qbittorrent-nox service
After=network.target

[Service]
#Type=forking
#PIDFile=
#ExecStart=
#ExecStop=

#Type=oneshot
#RemainAfterExit=yes
#ExecStart=
#ExecStop=

Type=simple
ExecStartPre=<START_PRE>
ExecStart=<START>
#ExecStartPost=

ExecStop=<STOP>
#ExecStopPost=

User=<USER>
#WorkingDirectory=/path/to/wd
#Restart=always
#Environment=
[Install]
WantedBy=multi-user.target
