[Unit]
Description=mount smb
#After=network.target

[Service]
#Type=forking
#PIDFile=
#ExecStart=
#ExecStop=

Type=oneshot
RemainAfterExit=yes
ExecStart=<START>
ExecStop=<STOP>

#Type=simple
#ExecStartPre=
#ExecStart=
#ExecStartPost=

#ExecStop=
#ExecStopPost=

User=<USER>
#WorkingDirectory=/path/to/wd
#Restart=always
#Environment=
[Install]
WantedBy=multi-user.target
